*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
}

#imgHero{
    width: 100%;
    height: 30%;
}
.carta{
    margin-top: -30%;
}
.imgCard{
    padding: 4%;
}